#!/usr/bin/env bash
# navigation
alias cd="cd "
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- -="cd -"
alias dl="cd ~/Downloads"
alias ls="ls --color"
alias less="less -R"
alias mv="mv -i"
alias pbc="pbcopy"
alias pbp="pbpaste"
alias ll="ls -l"
alias la="ls -la"
alias pre="open -a Preview"
alias wl="wunderline"

# my tools
alias mm="memo"
alias np="nippo"
alias cpc="commands_peco"
alias upc="utils_peco"
alias pd="peco_dir"

# path
alias dl="~/Downloads"
alias desk="~/Desktop"
alias dot="~/.dotfiles"
alias drop="~/var/Dropbox"
alias dvl="~/development"
alias bi="~/bin"
alias va="~/var"

# 何故かデフォルトでbashdbがinitファイルを読み込まない
alias bashdb="bashdb -x ~/.bashdbinit"

alias reload="exec ${SHELL} -l"
