[core]
  excludesfile = /Users/tsuji/.gitignore_global
	editor = vim
[user]
	name = 辻 大介 / TSUJI, Taisuke
	email = mail@tsujitaisuke.net
[alias]
  st = status
  sts = status -s
  co = checkout
  l = log
  br = branch
  d = diff
  ds = diff --staged
  gr = log --oneline --decorate --graph --all
  unstage = reset --soft HEAD^
  sw = switch
[log]
	date = iso-local
